<div class="main-container">
  <div fxLayoutAlign="center center"
    class="heading">
    <h1>Cricket Trivia</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
  <form [formGroup]="form"
    (submit)="submit()"
    (reset)="reset()">
    <div class="form-group">
      <div *ngFor="let question of questionsAndAnswers; index as i"
        class="question-container">
        <div class="question">
          <span>{{i+1}}.</span>
          <span>{{question.question}}</span>
        </div>
        <div class="answer-container"
          [ngClass]="{'error': isQuestionUnanswered(question.id)}">
          <select formControlName="answers"
            class="custom-select" #inputGroupSelect04>
            <option selected disabled hidden>Select an answer</option>
            <option *ngFor="let answer of question.all_answers" [value]="answer">
              {{answer}}
            </option>
          </select>
          <span *ngIf="isQuestionUnanswered(question.id)"
            class="required">*required</span>
        </div>
      </div>
      <div fxLayout>
        <button type="submit" class="col-md-6 btn btn-light">Submit</button>
        <button type="reset" class="col-md-6 btn btn-light">Clear Values</button>
      </div>
    </div>
  </form>
  </div>
  <div class="col-md-6">
    <app-chart [chartData]="chartData"></app-chart>
  </div>
</div>
</div>